<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>GasPredictor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="application.css" rel="stylesheet"/>
  </head>
  <body class="color-bg d-flex flex-column h-100">
    <div class="container pt-3 flex-shrink-0">
        <div class="jumbotron">
            <h1>GasPredictor</h1>
            <p>About us.</p>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    This web site was made using information from:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item color-bg">www.eia.gov</li>
                    <li class="list-group-item color-bg">A. Atil, A. Lahiani, and D. K. Nguyen, “Asymmetric and nonlinear pass-through of crude oil prices to gasoline and natural gas prices,” Energy Policy, vol. 65, pp. 567–573, Feb. 2014.</li>
                    <li class="list-group-item color-bg">D. Hulshof, J.-P. van der Maat, and M. Mulder, “Market fundamentals, competition and natural-gas prices,” Energy Policy, vol. 94, pp. 480–491, Jul. 2016.</li>
                </ul>
                <p class="bg-dark text-light p-2">
                    Developed by students at Cal Poly Pomona
                </p>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <a href="/" class="text-muted">Home</a>
            <a href="/about" class="text-muted ml-3">About</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
